name: dependabot-auto-merge

on:
  pull_request:

jobs:
  dependabot-auto-merge:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.5.3
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          github-token: ${{ secrets.dependabot_auto_merge }}
